<app-loader *ngIf="isLoading"/>

<div class="notification" *ngIf="error">{{error}}</div>

<div class="container" *ngIf="!isLoading">
    <form class="form" [formGroup]="form" (ngSubmit)="register()">
        <h2>Sign Up</h2>
        <div class="input-fields">
            <input type="text" placeholder="Email" name="email" formControlName="email"  />
            <ng-container *ngIf="form.get('email')?.touched">
                <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
                <p *ngIf="form.get('email')?.errors?.['appEmailValidator']" class="error">Invalid Email!</p>
            </ng-container>

            <input type="text" placeholder="Username" name="username" formControlName="username" />
            <ng-container *ngIf="form.get('username')?.touched">
                <p class="error" *ngIf="form.get('username')?.errors?.['required']">Username is required!</p>
                <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">Username must be at least {{form.get('username')?.errors?.['minlength']['requiredLength']}} characters long</p>
            </ng-container>

            <ng-container formGroupName="passGroup">
                <input type="password" placeholder="Password" name="password" id="password" formControlName="password"  />
                <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
                    <p  class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']">Password is required!</p>
                    <p  *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']" class="error">Password must be at least {{form.get('passGroup')?.get('password')?.errors?.['minlength']['requiredLength']}} characters long!</p>
                </ng-container>
                
                    
                <input type="password" placeholder="Repeat Password" name="rePassword" id="rePassword" formControlName="rePassword" />
                <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
                    <!-- <p class="error" *ngIf="">Repeat Password required!</p> -->
                    <p class="error" *ngIf="form.get('passGroup')?.errors?.['validatePassword'] || form.get('passGroup')?.get('rePassword')?.errors?.['required']">Passwords don't match!</p>
                </ng-container>
            </ng-container>
             

        </div>
        <div class="checkbox">
            <input type="checkbox">
            <span>Show Password</span>

        </div>
        <button [disabled]="form.invalid">SIGN UP</button>
    </form>
    <div class="links">
        <p>Already have an account?</p>
        <a routerLink="/login">Login</a>
    </div>
</div>

