<div class="container">
    <form class="form">
        <h2>Sign Up</h2>
        <div class="input-fields">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Username">
            <input type="text" placeholder="Password">
            <input type="text" placeholder="Repeat Password">
        </div>
        <div class="checkbox">
            <input type="checkbox">
            <span>Show Password</span>
        </div>
        <button>SIGN UP</button>
    </form>
    <div class="links">
        <p>Already have an account?</p>
        <a routerLink="/login">Login</a>
    </div>
</div>
