<app-loader *ngIf="isLoading"/>

<div class="container" *ngIf="!isLoading">
    <form class="form" #form="ngForm" (ngSubmit)="register(form)">
        <h2>Sign Up</h2>
        <div class="input-fields">
            <input type="text" placeholder="Email" name="email" ngModel>
            <input type="text" placeholder="Username" name="username" ngModel>
            <input type="text" placeholder="Password" name="password" ngModel>
            <input type="text" placeholder="Repeat Password" name="rePassword" ngModel>
        </div>
        <div class="checkbox">
            <input type="checkbox">
            <span>Show Password</span>
        </div>
        <button>SIGN UP</button>
    </form>
    <div class="links">
        <p>Already have an account?</p>
        <a routerLink="/login">Login</a>
    </div>
</div>

