<div class="card">
    <div class="left">
        <div class="image">
            <img src="https://cdn.spires.co/_next/image?url=%2Fassets%2Fimages%2Famy.webp&w=384&q=75" alt="Profile Image">
        </div>
        <div class="link">
            <a href="#">View Profile</a>
        </div>
    </div>
    <div class="right">
        <div class="personal">
            <p class="name">Tutor Name</p>
            <p class="rating">5 stars</p>
            <p class="price-info"><span class="currency">$</span><span class="price">15</span>/hr</p>
        </div>
        <p class="education">Masters of Science</p>
        <p class="expirience">10 years of teaching expirience</p>
        <p class="students-count">Students: <span class="count">15</span></p>
    </div>
</div>
