

<div class="card">
    <div class="left">
        <div class="image">
            <img src="{{tutor.imageUrl}}" alt="Profile Image">
        </div>
        <div class="link">
            <a [routerLink]="tutor.objectId">View Profile</a>
        </div>
    </div>
    <div class="right">
        <div class="personal">
            <p class="name">{{tutor.firstName}} {{tutor.lastName}}</p>
            <p class="price-info"><span class="currency">$</span><span class="price">{{tutor.price}}</span>/hr</p>
        </div>
        <p>Subject: {{tutor.subjects.join(', ')}}</p>
        <p class="education">Education Level: {{tutor.educationLevel}}</p>
       
    </div>
</div>
