<app-loader *ngIf="isLoading"></app-loader>

<div class="no-profile" *ngIf="notRegistered ">Not registered as Tutor</div>

<div class="profile-wrapper" *ngIf="!isLoading && !notRegistered">

    <h2 class="header">{{tutor?.firstName}}'s Tutor Profile</h2>
    <div class="picture">
        <img src="{{tutor?.imageUrl}}" alt="profile picture">
    </div>
    
    <div class="group">
        <p class="title">First Name:</p>
        <p class="firstName">{{tutor?.firstName}}</p>
    </div>
    <div class="group">
        <p class="title">Last Name: </p>
        <p class="lastName">{{tutor?.lastName}}</p>
    </div>
    <div class="group">
        <p class="title">Age:</p>
        <p class="age">{{tutor?.age}} y/o</p>
    </div>
    <div class="group">
        <p class="title">Subjects</p>
        <p class="subjects">{{tutor?.subjects?.join(', ')}}</p>
    </div>
    <div class="group">
        <p class="title">Price/hour:</p>
        <p class="price"> ${{tutor?.price}}</p>
    </div>
    <div class="group">
        <p class="title">Education Level:</p>
        <p class="educationLevel">{{tutor?.educationLevel}}</p>
    </div>
    <div class="group about">
        <p class="title">About Me:</p>
        <p class="aboutMe">{{tutor?.about}}</p>
    </div>
   
    <button class="btn">Edit Profile</button>
</div>