<div class="profile-wrapper">

    <h2 class="header">Tutor Profile</h2>
    <div class="picture">
        <img src="https://img.freepik.com/free-photo/front-view-young-beautiful-lady-white-t-shirt-black-jeans-coat-holding-green-book-pen-smiling-white_140725-18658.jpg" alt="profile picture">
    </div>
    
    <div class="group">
        <p class="title">First Name:</p>
        <p class="firstName">Olaf</p>
    </div>
    <div class="group">
        <p class="title">Last Name: </p>
        <p class="lastName">Olafson</p>
    </div>
    <div class="group">
        <p class="title">Age:</p>
        <p class="age">20 y/o</p>
    </div>
    <div class="group">
        <p class="title">Subjects</p>
        <p class="subjects">Math, English, Latin</p>
    </div>
    <div class="group">
        <p class="title">Price/hour:</p>
        <p class="price"> $25</p>
    </div>
    <div class="group">
        <p class="title">Education Level:</p>
        <p class="educationLevel">Master</p>
    </div>
    <div class="group about">
        <p class="title">About Me:</p>
        <p class="aboutMe">This is my description
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eos laudantium sit suscipit fuga odit cumque perferendis aut dignissimos accusamus, ullam ducimus animi numquam, aliquid maxime velit dolores facere molestiae? Exercitationem ipsa rem ullam enim. Quaerat reiciendis maiores cumque deserunt, ducimus voluptatum, sunt necessitatibus, ea in dolores adipisci dolorem maxime!
        </p>
    </div>
   
    <button class="btn">Edit Profile</button>
</div>