
    <div class="no-comments" *ngIf="noComments">No Comments!</div>
    <div class="comment-wrapper" *ngFor="let comment of comments" >
        <div class="comment-card">
            <div class="content">
                <p class="text">{{comment.comment}}</p>
            </div>
            <div class="title">
                <p class="user">Posted by: {{comment?.username}}</p>
                <p class="date">Posted {{comment.updatedAt | elapsedTime}}</p>
            </div>
        </div>  
    </div>
    <div *ngIf="!isLoading">
        <app-comment-form *ngIf="!isOwner" />
    </div>

