<div class="container">
    <form class="form" #form="ngForm" (ngSubmit)="registerTutor(form)">
        <h2>Become a Tutor</h2>
        <div class="input-fields">

            <div class="group">
                    <label for="firstName">First Name</label>
                     <input type="text" name="firstName" id="firstName" ngModel required />
            </div>

            <div class="group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" ngModel required />
            </div>
            
            <div class="group">
                <label for="age">Age</label>
                <input class="age" min="18" type="number" name="age" id="age" ngModel required />
            </div>
    
            <div class="group">
                <label for="age">Subjects</label>
                <input type="text" placeholder="English, Math, Biology" name="subjects" id="subjects" ngModel required />
            </div>

            <div class="group">
                <label for="price">Price/hour $: </label>
                <input class="price" type="number" name="price" id="price" ngModel required />
            </div>

            <div class="group">
                <label for="educationLevel">Education Level</label>
                <input type="text" name="educationLevel" id="edLevel" ngModel required />
            </div>

            <div class="group">
                <label for="imageUrl">Picture</label>
                <input type="text" name="imageUrl" id="imageUrl" ngModel required />
            </div>

            <div class="group">
                <label for="about">About Me</label>
                <textarea name="about" id="about" ngModel required></textarea>
            </div>

    
        </div>
        <button>BECOME A TUTOR</button>
    </form>
   
</div>