<div class="container">
    <form class="form" #form="ngForm" (ngSubmit)="registerTutor(form)">
        <h2>Become a Tutor</h2>
        <div class="input-fields">

            <div class="group">
                    <label for="firstName">First Name</label>
                     <input type="text" name="firstName" id="firstName" ngModel>
            </div>

            <div class="group">
                    <label for="firstName">Last Name</label>
                    <input type="text" name="firstName" id="lastName" ngModel>
            </div>
            
            <div class="group">
                <label for="age">Age</label>
                <input class="age" min="18" type="number" name="age" id="age" ngModel>
            </div>
    
            <div class="group">
                <label for="age">Subjects</label>
                <input type="text" name="subjects" id="subjects" ngModel>
            </div>
            <div class="group">
                <label for="edLevel">Education Level</label>
                <input type="text" name="edLevel" id="edLevel" ngModel>
            </div>

            <div class="group">
                <label for="picture">Picture</label>
                <input type="text" name="picture" id="picture">
            </div>

            <div class="group">
                <label for="about">About Me</label>
                <textarea name="about" id="about" ngModel></textarea>
            </div>

    
        </div>
        <button>BECOME A TUTOR</button>
    </form>
   
</div>