<app-loader *ngIf="isLoading"></app-loader>

<div class="wrapper"> 
    <div class="card" *ngIf="!isLoading">
        <div class="left">
            <div class="image">
                <img src="{{tutor?.imageUrl}}" alt="Profile Image">
            </div>
        </div>
        <div class="right">
            <div class="personal">
                <p class="name">{{tutor?.firstName}} {{tutor?.lastName}}</p>
                <p class="price-info"><span class="currency">$</span><span class="price">{{tutor?.price}}</span>/hr</p>
            </div>
            <p><span class="grey">Teaching Subjects: </span>{{tutor?.subjects?.join(', ')}}</p>
            <p><span class="grey">Phone number: </span>{{tutor?.tel}}</p>
            <p class="education"><span class="grey">Education Level: </span>{{tutor?.educationLevel}}</p>
            <p class="age"><span class="grey">Age: </span>{{tutor?.age}} y/o</p>
            <p class="expirience">{{tutor?.about}}</p>
        </div>  
    </div>
    <div class="btn-wrapper" *ngIf="!isLoading">
        <div *ngIf="isLogged">
            <button class="button" (click)="viewComments()" >{{showComments ? 'Hide Comments' : 'View Comments'}}</button>
        </div>
        <a routerLink="/tutors" class="button">Go back</a>
        <div class="button" *ngIf="!isLogged">Login to see tutor comments section</div>
    </div>

    
</div>
<div *ngIf="isLogged">
    <app-comment-card *ngIf="showComments" [isOwner]="isOwner" />
</div>





