
    <div class="card">
        <div class="image">
            <img class="img" src="{{tutor?.imageUrl}}" alt="Tutor Image">
        </div>
        <div class="info">
            <div class="name">{{tutor?.firstName}} {{tutor?.lastName}}</div>
            <div class="subject-list">
                <p class="subject">{{tutor?.subjects}}</p>
            </div>
            <div class="description">
                <p>{{tutor?.about}}</p>
            </div>
        </div>
        <div class="footer">
            <div class="likes">
                <span>5 stars</span>
            </div>
        </div>
    </div>


