
    <div class="card">
        <div class="image">
            <img class="img" src="https://cdn.spires.co/_next/image?url=%2Fassets%2Fimages%2Famy.webp&w=384&q=75" alt="Tutor Image">
        </div>
        <div class="info">
            <div class="name">Tutor Name</div>
            <div class="subject-list">
                <p class="subject">Math</p>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem assumenda magnam quas iure nam maiores voluptas pariatur eos quibusdam alias!</p>
            </div>
        </div>
        <div class="footer">
            <div class="likes">
                <span>5 stars</span>
            </div>
        </div>
    </div>


