
.group {
    margin: 2em auto;
    max-width: 80%;
    text-align: center;
}

.group input {
    height: 3em;
    padding: 1em 0.5em;
    border: 2px solid #499c82;
    width: 20em;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 50px;
}

.button {
    height: 3em;
    margin-left: 0.5em;
    background-color: #499c82;
    border: 1px solid #499c82;
    padding: 0.5em 1em;
    cursor: pointer;
    color: white;
}