<app-loader *ngIf="isLoading"></app-loader>

<div class="container" *ngIf="!isLoading">
    <form class="form" #form="ngForm" (ngSubmit)="login(form)">
        <h2>Login</h2>
        <div class="input-fields">
            <input type="text" placeholder="Email" name="email" ngModel />
            <input type="text" placeholder="Password" name="password" #passwordInput="ngModel" ngModel />
        </div>
        <div class="checkbox">
            <input type="checkbox" name="showPassword">
            <span>Show Password</span>
        </div>
        <button>LOG IN</button>
    </form>
    <div class="links">
        <p>Don't have an account?</p>
        <a routerLink="/signup">Sign up</a>
    </div>
</div>
