<app-loader *ngIf="isLoading"></app-loader>

<div class="notification error-msg" *ngIf="error">{{error}}</div>

<div class="container" *ngIf="!isLoading">
    <form class="form" #form="ngForm" (ngSubmit)="login(form)">
        <h2>Login</h2>
        <div class="input-fields">
            <input type="text" placeholder="Email" name="email" #inputEmail="ngModel" appEmailValidator ngModel required />

            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
                <p *ngIf="inputEmail.hasError('appEmailValidator')" class="error">Invalid Email!</p>
            </ng-container>

            <input type="{{showPassword ? 'text': 'password'}}" placeholder="Password" name="password" #inputPassword="ngModel" ngModel required minlength="4" />

            <ng-container *ngIf="inputPassword.touched">
                <p class="error" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
                <p class="error" *ngIf="inputPassword.errors?.['minlength']">Password must be at least {{inputPassword.errors?.['minlength']['requiredLength']}} characters long</p>
            </ng-container>

        </div>
        <div class="checkbox">
            <input type="checkbox" name="showPassword" [(ngModel)]="showPassword">
            <span>Show Password</span>
        </div>
        <button>LOG IN</button>
    </form>
    <div class="links">
        <p>Don't have an account?</p>
        <a routerLink="/signup">Sign up</a>
    </div>
</div>
