<div class="container">
    <form class="form">
        <h2>Login</h2>
        <div class="input-fields">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Password">
        </div>
        <div class="checkbox">
            <input type="checkbox">
            <span>Show Password</span>
        </div>
        <button>LOG IN</button>
    </form>
    <div class="links">
        <p>Don't have an account?</p>
        <a routerLink="/signup">Sign up</a>
    </div>
</div>
