<form class="profile-wrapper">

    <h2 class="header">Edit Profile</h2>
   
    <div class="group">
        <p class="title">First Name:</p>
        <input class="firstName" name="firstName" />
    </div>
    <div class="group">
        <p class="title">Last Name: </p>
        <input class="lastName" name="lastName" />
    </div>
    <div class="group">
        <p class="title">Image Url:</p>
        <input class="imageUrl" name="imageUrl"/>
    </div>
    <div class="group">
        <p class="title">Age:</p>
        <input type="number" class="age" name="age" />
    </div>
    <div class="group">
        <p class="title">Subjects</p>
        <input class="subjects" name="subjects" />
    </div>
    <div class="group">
        <p class="title">Price/hour:</p>
        <input type="number" min="0" class="price" name="price" />
    </div>
    <div class="group">
        <p class="title">Education Level:</p>
        <input class="educationLevel" name="educationLevel" />
    </div>
    <div class="group">
        <p class="title">About Me:</p>
        <textarea class="about" name="about" id="aboutMe"></textarea>
    </div>
   
    <button class="btn">Edit Profile</button>
</form>
