
<div class="home-wrapper">
    <div class="site">
        <div class="content">
            <h3>Your Time. Your Future. Make it Count</h3>
            <h1>FIND YOUR TUTOR</h1>
            <p>This app helps you find professional tutors in various teaching subjects. It's quick and easy.</p>
            <div class="buttons">
                <a class="search" routerLink="/tutors" class="find">See Tutors</a>
            </div>
        </div>
    </div>

    <div class="latest-tutors">
        <h2>Professional Tutors</h2>
        <p>See some of our latest tutors</p>

        <app-loader *ngIf="isLoading" />
        <div class="cards-list" *ngIf="!isLoading">
            <div *ngFor="let tutor of tutors">
                <app-tutor-short-card [tutor]="tutor"/>
            </div>
         
        </div>
    </div>

</div>
