
<div class="home-wrapper">
    <div class="site">
        <div class="content">
            <h3>Your Time. Your Future. Make it Count</h3>
            <h1>ONLINE TUTORS</h1>
            <p>Spires lets you schedule, record and pay for online classes with professional tutors. It's quick and easy.</p>
            <div class="buttons">
                <a class="find" href="#" class="find">Find A Tutor</a>
                <a class="search" href="#" class="find">See Tutors</a>
            </div>
        </div>
    </div>

    <div class="latest-tutors">
        <h2>Professional Tutors</h2>
        <p>See some of our latest tutors</p>

        <div class="cards-list">
            <app-tutor-short-card />
            <app-tutor-short-card />
            <app-tutor-short-card />
            <app-tutor-short-card />
            <app-tutor-short-card />
    
        </div>
    </div>

</div>
